.menu-nav {
    background-color: #19082d;
    margin: 0 0 60px 0;
    padding: 16px 4%;
}

.menu-nav > ul {
    display: flex;
    flex: 1;
    gap: 4%;
    align-items: center;
}

#random-quote {
    text-align: center;
    color: #e0eaec74;
    font-size: 16px;
    margin: 20px;
}

@media (max-height: 600px) {
    #random-quote {
        display: none;
    }
}

#pixel-display {
    margin: 20px;
}

#pixel-count {
    color: #ffd89a;
}

#game-area {
    height: 500px;
    width: 90%;
    border: #4543ca solid;
    background-color: #07112e;
    margin: auto;
    padding: 40px;
    display: flex;
    flex: 1;
    align-items: center;
}

#shop {
    width: 90%; 
    border: #4543ca solid;
    background-color: #162c6c;
    margin: auto;
    padding: 20px;
    /* display: flex;
    flex: 1; */
    text-align: center;
}

#blue-pixel {
    margin: 10px;
}

#blue-pixel:active {
    padding: 10px;
}

#shop-title {
    font-size: 32px;
    text-align: center;
}

.shop-row {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: 10px;
  margin: auto;
  text-align: left;
}

.shop-start > div {
    background-color: #226279;
    padding: 20px;
    border: rgb(18, 70, 137) solid;
    border-radius: 10px;
    margin: 20px auto;
}

.shop-start > div > div {
    padding: 0 36px;
}

.buy-button {
    background-color: #fde184;
    color: black;
    padding: 2px 32px;
    border: #a1a1a1 solid;
    border-radius: 8px;
}

.buy-button:hover {
    background-color: #947e38;
    border: #565550 solid;
}

.buy-button:active {
    background-color: #fff5d4;
    color: #c1b9a5;
    border: #fffef7 solid;
}