.login-register, .login-options {
    width: 40%;
    padding: 1% 4%;
    border: rgba(90, 45, 182, 0.326) solid;
    border-radius: 50px;
    margin: 2% auto;
    background-color: #2a1a4d;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

li {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
}

form div {
    margin: 1.5%;
}

#already-have-account {
    font-size: 16px;
}